In [ ]:
#dictionary
#define method 1
data = {}
data['name']=['nneil','uk','dj']
data['edu']=['prof','dev','don']

In [ ]:
data

In [ ]:
data.keys()

In [ ]:
data.values()

In [ ]:
#define method 2
df = {'car':['lambor','benz','rolls']}

In [ ]:
dir(df)

In [ ]:
for idx, key in enumerate(data):
    print(idx,key,data[key])

In [1]:
import logging

logging.basicConfig(filename = 'tst.log', level = logging.INFO , format = '%(asctime)s:%(levelname)s:%(message)s')
#login
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b

n1=12
n2=34

logging.info('sum of {} & {}is {} '.format(n1,n2,add(n1,n2)))
logging.info('diff of {} & {}is {} '.format(n1,n2,sub(n1,n2)))
logging.info('prod of {} & {}is {} '.format(n1,n2,mul(n1,n2)))
logging.info('qou of {} & {}is {} '.format(n1,n2,div(n1,n2)))

In [2]:
import datetime

In [3]:
datetime.datetime.now()

datetime.datetime(2019, 5, 12, 12, 30, 58, 946012)

In [7]:
bank ={
    'pass' : [1234],
    'balance' : [20000, 15000]
}

In [8]:
bank['balance'][-1]

15000

In [9]:
bls = list(bank['balance'])

In [10]:
bls

[20000, 15000]

In [11]:
new_bal= bank['balance'][-1] - 2500

In [12]:
bls.append(new_bal)

In [14]:
bank['balance'] = bls

In [15]:
bank['balance']

[20000, 15000, 12500]

In [25]:
import csv

with open('banklog.csv', 'w', newline='') as f :
    entry = csv.writer(f)
    entry.writerow(['time','password','balance'])
    for i in bank['pass']:
        for k in bank['balance']:
            entry.writerow([datetime.datetime.now(),i,k])

In [26]:
import pandas as pd

In [27]:
data = pd.read_csv('banklog.csv')

In [28]:
data

                         time  password  balance
0  2019-05-12 12:58:34.999558      1234    20000
1  2019-05-12 12:58:34.999558      1234    15000
2  2019-05-12 12:58:34.999558      1234    12500

In [32]:
print(data)

                         time  password  balance
0  2019-05-12 12:58:34.999558      1234    20000
1  2019-05-12 12:58:34.999558      1234    15000
2  2019-05-12 12:58:34.999558      1234    12500

In [30]:
data['balance'][-1]#cant do this, data is a series

KeyError: -1

In [31]:
data.balance.data[-1]

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.data is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

12500

In [34]:
import pandas as pd
d = pd.read_csv('banklog.csv')

In [ ]:
d.